.form__name {
  margin: 0 0 30px;
  max-width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000; /* вот тут надо понять как в черный имя покрасить*/
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 580px) {
  .form__name {
    margin: 0 0 30px;
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
