.profile__edit-button {
  background: url('../../../images/profile__edit-button.svg');
  border: none;
  padding: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0px;
  top: 15px;
}

@media screen and (max-width: 670px) {
  .profile__edit-button {
    right: 10px;
    top: 8px;
  }
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

