.elements__icon {
  width: 22px;
  height: 19px;
  padding: 0;
  border: 0;
  object-fit: cover;
  object-position: center;
  margin: 30px 20px 30px 29px;
}

.elements__icon:hover {
  opacity: 0.5;
  cursor: pointer;
}


