.profile__add-button {
  background: url('../../../images/profile__add-button.svg');
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  object-fit: cover;
  object-position: center;
  border: none;
  padding: 0;
  width: 150px;
  height: 50px;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 670px) {
  .profile__add-button {
    width: 282px;
    background: url(../../../images/profile__add-button-mobile.svg);

  }
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
