.form__input_type_link {
  padding: 0 0 5px;
}

@media screen and (max-width: 580px) {
  .form__input_type_link {
    padding: 0 0 5px;
  }
}

.form__input_type_link::placeholder {
  color: #c4c4c4;
}
