.form__title {
  font-family: inherit;
  margin: 0 0 38px;
  max-width: 330px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 580px) {
  .form__title {
    margin: 0 0 38px;
    max-width: 238px;
    font-size: 18px;
    line-height: 22px;
  }
}
