.form__button_type_save {
  padding: 0;
  margin: 0 auto 36px;
  width: 358px;
  min-height: 50px;
  border-radius: 2px;
  background-color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: 0;
}

@media screen and (max-width: 580px) {
  .form__button_type_save {
    width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.form__button_type_save:hover {
  opacity: 0.8;
  cursor: pointer;
}
