.profile__cover{
  background-size: cover;
  width: 120px;
  height: 120px;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.profile__cover:hover{
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  background-image: url(../../../images/profile__pencil.png);
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  background-position: center;
}
