.profile__info {
  max-width: 336px;
  position: relative;
  margin-right: 18px;
}

@media screen and (max-width: 670px) {
  .profile__info {
    max-width: 189px;
    margin: 26px 10px 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
