.form__career {
  font-family: inherit;
  margin: 0 0 48px;
  max-width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 580px) {
  .form__career {
    margin: 0 0 45px;
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}

.form__career:focus {
  outline: none;
  border-bottom: 2px solid black;
}


